<div class="container-fluid navbar-container">
  <div class="row">
    <div class="col-md-2 nav-tab logo-tab">
      <a href="#" style="font-size: 40px; font-weight: bold">NG4 Shop</a>
    </div>
    <div class="col-md-6 nav-tab"></div>
    <div class="col-md-1 nav-tab">
      AAA
    </div>
    <div class="col-md-1 nav-tab">
      BBB
    </div>
    <div class="col-md-1 nav-tab">
      CCC
    </div>
    <div class="col-md-1 nav-tab">
      <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 50px; line-height: 80px;"></i>
    </div>
  </div>
</div>
